
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive pricing table.">

    <title>双十一网购狂欢，我陪你买!</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">




<link rel="stylesheet" href="/stylesheets/pricing.css">




</head>
<body>






<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a href="#" class="pure-menu-heading header"><img src="/images/logo.png">陪你买</a>
</div>

<div class="banner">
    <h1 class="banner-head">
        我败家，我光荣!
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>15万天猫、淘宝特价商品</h2>
                    <span class="pricing-table-price">
                        陪
                    </span>
                </div>
                <button class="pure-button button-choose"><a href="http://www.peinimai.com/tag/国际大牌">去购物</a></button>
            </div>
        </div>

        <div class="pure-u-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>提供历史最低价,轻松识别假特价</h2>

                    <span class="pricing-table-price">
                        你
                    </span>
                </div>
                <button class="pure-button button-choose"><a href="http://www.peinimai.com/tag/女装">去购物</a></button>
            </div>
        </div>

        <div class="pure-u-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>分类、搜索，快速找到特价商品</h2>

                    <span class="pricing-table-price">
                        买
                    </span>
                </div>
                <button class="pure-button button-choose"><a href="http://www.peinimai.com/tag/女鞋">去购物</a></button>
            </div>
        </div>
    </div> <!-- end pricing-tables -->
</div> <!-- end l-content -->

<div class="footer">
    <p class="l-box">
        product by  <a href='http://weibo.com/mobilesnake' target="_blank">愤怒的红红</a>.
    </p>
</div>


</body>
</html>
